.fixed-menu a {
  font-size: 95%;
  text-decoration: none;
  color: $blueish;
  font-weight: 500;
  display: block;
  line-height: 2;
}

a:hover {
  color: gray;
}

#menuToggle {
  display: none;
}


@media (max-width: 992px) {

  .fixed-menu {
    display: none;
  }

  a {
    text-decoration: none;
    color: $blueish;
    font-size: 90%;
    margin: 0;
    padding: 0;
    
    transition: color 0.3s ease;
  }

  a:hover {
    color: gray;
  }

  #menuToggle {
    display: block;
    position: relative;
    bottom: 300%;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }


  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    left: 10%;
    
    background: $blackish;
    border-radius: 3px;
    opacity: .2;
    
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: .2;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $blueish;
  
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }


  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    margin: -10px 0 0 -50px;
    padding: 1rem;
    padding-top: 2rem;
    
    background: $greenish;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li {
    padding: 10px 0;
    font-size: 80%;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }


}

@media (max-width: 768px) {
  #menuToggle span {
      left: 0;
  }
}