.sidebar {
    box-sizing: border-box;
    position: fixed;
    min-width: 10vw;
    height: 100vh;
    background-color: $greenish;
    padding: 5em 0;
    text-align: center; 
}


@media (max-width: 768px) {
    .sidebar {
        box-sizing: border-box;
        position: fixed;
        width: 30vw;
        height: 40vh;
        background-color: $greenish;
        padding: 5em 0;
        text-align: center;
    }
}





